@model ReviewGameVM
@{
    Layout = null;
    int? userID = Context.Session.GetInt32("UserId");
}

<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Games</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />    
	<link href="/css/templatemo-style.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700&display=swap" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/responsive.css" rel="stylesheet" />
</head>

<body> 

	<div class="container">
		     <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.html">
            <span>
              Games Library
            </span>
          </a>
          <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">

                                    <li class="nav-item">
                                        <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " asp-area="" asp-controller="User" asp-action="Register">Register</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " asp-area="" asp-controller="User" asp-action="Login">Login</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " asp-area="" asp-controller="User" asp-action="Logout">Logout</a>
                                    </li>

                            <li class="nav-item">
                  <a class="nav-link" href="contact.html">Contact us</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
	<!-- Top box -->
		<!-- Logo & Site Name -->
	<div class="placeholder">
			<div class="parallax-window" data-parallax="scroll" data-image-src="@Model.Game.Img">
				<div class="tm-header">
					<div class="row tm-header-inner">
						<div class="col-md-6 col-12">
							<img src="/img/simple-house-logo.png" alt="Logo" class="tm-site-logo" /> 
							<div class="tm-site-text-box">
								<h1 class="tm-site-title">@Model.Game.Name</h1>
								<h6 class="tm-site-description">@Model.Game.ReleaseDate</h6>	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
    <h1 style="margin-top:20px;">Reviews</h1><br />
    <div class="row tm-gallery">
   <!-- gallery page 1 -->
        @foreach(var item in Model.Reviews){
                 <div class="card" style="width: 18rem;">
                  <img src="@Model.User.Avatar" class="card-img-top" alt="user profile">
                     <div class="card-body">
                       <h5 class="card-title">@item.Hours Played</h5>
                        <p class="card-text">
                            @item.Body
                        </p>
                    </div>
                 </div>
        }

    </div>
    <h4>Add Your Review</h4>
    <div>
      <form asp-action="AddReview" asp-controller="Review" method="post" >
              <input asp-for="UserId" class="form-control" value="@userID" hidden />
              <input asp-for="GameId" class="form-control" value="@Model.GameId" hidden />
              <div>
                <span asp-validation-for="Review.Hours" class="text-danger"></span>
                <label asp-for="Review.Hours" class="form-label">Hours Played</label>
                <input asp-for="Review.Hours" class="form-control"/>
              </div>
              <div>
                <label asp-for="Review.Body" class="form-label">Write Your Review</label>
                <input asp-for="Review.Body" class="form-control"/>
              </div>
              <input class="btn btn-primary" type="submit" value="submit" />
      </form>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="js/jquery.min.js"></script>
	<script src="js/parallax.min.js"></script>
</body>
</html>